tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"맑은 고딕", monospace;
	mso-font-charset:129;
	border:none;
	mso-protection:locked visible;
	mso-style-name:표준;
	mso-style-id:0;}
.font7
	{color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"맑은 고딕", monospace;
	mso-font-charset:129;}
.font8
	{color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"맑은 고딕", monospace;
	mso-font-charset:129;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"맑은 고딕", monospace;
	mso-font-charset:129;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:white;
	font-size:13.0pt;
	font-weight:700;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	color:black;
	font-size:9.0pt;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid black;
	border-right:1.0pt solid white;
	border-bottom:.5pt solid black;
	border-left:1.0pt solid white;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-size:10.0pt;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:"\@";
	text-align:right;
	border:.5pt solid black;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:1.0pt solid white;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid black;
	border-right:1.0pt solid white;
	border-bottom:none;
	border-left:.5pt solid black;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid white;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid black;
	border-right:1.0pt solid white;
	border-bottom:none;
	border-left:1.0pt solid white;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid white;
	border-bottom:.5pt solid black;
	border-left:1.0pt solid white;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:1.0pt solid white;
	border-left:1.0pt solid white;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:1.0pt solid white;
	border-left:none;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
.xl77
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:1.0pt solid white;
	border-left:none;
	background:black;
	mso-pattern:black none;
	white-space:normal;}
